<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0
    </div>
    <strong>Lê Bửu Minh Phúc &copy; 2024-2025 <a href="https://www.facebook.com/Phuclee2511"> Lê Bửu Minh Phúc</a></strong>
</footer>
