@{
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Account/ChangePassword" method="post">
            <!-- Mật khẩu cũ -->
            <div class="form-group">
                <label>Mật khẩu cũ:</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="oldPassword" id="oldPasswordField" autofocus>
                    <span class="input-group-addon" id="toggleOldPassword" style="cursor: pointer;">
                        <i class="fa fa-eye"></i> <!-- Biểu tượng con mắt -->
                    </span>
                </div>
                @Html.ValidationMessage("oldPassword", new { @style = "color:#f00" })
            </div>

            <!-- Mật khẩu mới -->
            <div class="form-group">
                <label>Mật khẩu mới:</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="newPassword" id="newPasswordField">
                    <span class="input-group-addon" id="toggleNewPassword" style="cursor: pointer;">
                        <i class="fa fa-eye"></i> <!-- Biểu tượng con mắt -->
                    </span>
                </div>
            </div>

            <!-- Xác nhận lại mật khẩu -->
            <div class="form-group">
                <label>Xác nhận lại mật khẩu:</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPasswordField">
                    <span class="input-group-addon" id="toggleConfirmPassword" style="cursor: pointer;">
                        <i class="fa fa-eye"></i> <!-- Biểu tượng con mắt -->
                    </span>
                </div>
                @Html.ValidationMessage("confirmPassword", new { @style = "color:#f00" })
            </div>

            @Html.ValidationMessage("Error", new { @style = "color:#f00" })

            <!-- Nút submit -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                        <a href="~/" class="btn btn-default">Bỏ qua</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Hàm thay đổi loại input (ẩn/hiện mật khẩu)
        function togglePasswordField(passwordFieldId, toggleButtonId) {
            $(toggleButtonId).click(function () {
                var passwordField = $(passwordFieldId);
                var type = passwordField.attr("type");

                if (type === "password") {
                    passwordField.attr("type", "text"); // Hiển thị mật khẩu
                    $(this).html('<i class="fa fa-eye-slash"></i>'); // Thay đổi biểu tượng mắt thành mắt đóng
                } else {
                    passwordField.attr("type", "password"); // Ẩn mật khẩu
                    $(this).html('<i class="fa fa-eye"></i>'); // Thay đổi biểu tượng mắt thành mắt mở
                }
            });
        }

        // Gọi hàm cho từng trường mật khẩu
        togglePasswordField("#oldPasswordField", "#toggleOldPassword");
        togglePasswordField("#newPasswordField", "#toggleNewPassword");
        togglePasswordField("#confirmPasswordField", "#toggleConfirmPassword");
    });
</script>
