<style>
    .custom-row {
        display: flex;
        align-items: center;
        padding-right: 10px;
    }

    .custom-spacing {
        margin-right: 20px; 
    }
</style>

<div class="custom-row">
    <h1 class="mb-0 custom-spacing">Tài khoản không được cấp quyền</h1>
    <a href="/" class="btn btn-primary">Về Trang Chủ</a>
</div>
